
.flip-card {
    background-color: transparent;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
   width: 231px;
    height: 380px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 231px;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
    overflow-y: hidden;
  }
  img{
      width: 100%;
  }
  .image{
    width: 20px;
}
.flip-card-front img{
  
  height: 100%;
}
.parag{
  font-size: 10px;
  overflow-y: hidden;
}
.tex-color{
  color: rgb(202, 79, 79);
}
.mg-top{
  margin-top: 5px;
}
